
html {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Arial', 'Arimo';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #4C4C4C;
}

h1, h2, h3, h4, h5, h6 p, button {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* ------------------------------header section------------------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  background: rgba(41, 41, 41, .6);
  z-index: 1;
  display: none;
}

.popup {
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 5%;
  height: 60px;
}

.header_logo {
  width: 184px;
  height: 60px;
  z-index: 5;
}

.header_logo_title {
  color: #F1CDB3;
  font-family: 'Georgia', 'Tinos';
  font-size: 31.7px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header_lodo_descr {
  margin-top: 10px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.burger_menu {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 17px;
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
}

.burger_menu li {
  display: block;
  position: absolute;
  height: 0px;
  width: 100%;
  left: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  border-bottom: 2px solid #F1CDB3;
}

.burger_menu>li:nth-child(1) {
  top: 2px;
}
.burger_menu>li:nth-child(2) {
  top: 12px;
}
.burger_menu>li:nth-child(3) {
  top: 22px;
}

.nav_list {
  list-style: none;
  height: 27px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 17px;
}

.nav_list_item {
  margin-right: 35px;
}

.nav_list_item:last-child {
  margin-right: 0;
}

.item_link {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}

.active, .item_link:hover, .item_link:focus {
  border-bottom: 3px solid #F1CDB3;
  color: #FFFFFF;
}

/* ------------------------------end header section------------------------------*/

/* ------------------------------screen section------------------------------*/

.screen_section {
  background: url(../../assets/images/start-screen-gradient-background.png) no-repeat center;
  background-size: cover;
  height: fit-content;
  padding-top: 180px;
}

.screen_content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.text_content {
  width: 502px;
  padding-top: 163px;
  padding-bottom: 243px;
}

.screen_heading {
  max-width: 310px;
  margin-bottom: 42px;
  font-family: 'Georgia', 'Tinos';
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.screen_subheading {
  font-size: 15px;
  line-height: 160%;
  max-width: 460px;
  color: #CDCDCD;
  margin-bottom: 42px;
}

.screen_button {
  width: 207px;
  height: 52px;
  border: 0ch;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia', 'Tinos';
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
}

.screen_button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.image_content {
  background: url(../../assets/images/start-screen-puppy.svg) no-repeat;
  width: 698px;
  height: 728px;
  background-size: cover;
}

/* ------------------------------end screen section------------------------------*/

/* ------------------------------start about section------------------------------*/

.about {
  height: fit-content;
  background: #FFFFFF;
}

.about_container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about_pets_img {
  background: url(../../assets/images/about-pets.jpg) no-repeat;
  width: 300px;
  height: 408px;
  margin-right: 120px;
  background-size: cover;
}

.about_pets_text {
  max-width: 430px;
  margin-top: 14px;
}

.text_title {
  font-family: 'Georgia', 'Tinos';
  width: 370px;
  height: 90px;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about_pets_text > p {
  width: 100%;
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 25px;
}

.about_pets_text > p:last-child {
  margin-bottom: 14px;
}

/* ------------------------------end about section------------------------------*/

/* ------------------------------start friends section------------------------------*/

.pets {
  height: fit-content;
  background: #F6F6F6;
}

.pets_container {
  height: fit-content;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_title {
  width: 400px;
  font-family: 'Georgia', 'Tinos';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 60px;
}

.slider {
  height: 435px;
  max-width: -webkit-fill-available;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
}

.left_arrow, .right_arrow {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 23px 19px;
  cursor: pointer;
  transition: 0.4s;
  background: #F6F6F6;
}

.left_arrow:hover, .right_arrow:hover {
  background-color: #F1CDB3;
}

.left_arrow {
  transform: rotate(-180deg);
}

.left_arrow > div, .right_arrow > div {
  width: 14px;
  height: 6px;
}

.left_arrow > div {
  background: url(../../assets/images/Arrow.svg) no-repeat;
  /* background: #292929; */
}

.right_arrow > div {
  background: url(../../assets/images/Arrow.svg) no-repeat;
  /* background: #292929; */
}

.wrapper_track {
  display: inline-flex;
  width: inherit;
  transition: transform 0.5s;
}

.card_wrapper {
  font-family: 'Georgia', 'Tinos';
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card_popup {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
}

.close_button {
  width: 52px;
  height: 52px;
  align-self: end;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  color: #292929;
  z-index: 9;
  background-color: inherit;
}

.close_button > span {
  width: 12px;
  height: 12px;
}

.close_button:hover {
  cursor: pointer;
}

.popup_window {
  display: flex;
  flex-direction: column;
  width: 952px;
  height: 552px;
  z-index: 8;
  cursor: default;
}

.popup_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  background: #F6F6F6;
  z-index: 9;
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.popup_img {
  border-radius: 9px 0px 0px 9px;
  width: 500px;
  height: 500px;
  background-size: cover !important;
}

.popup_text {
  width: 351px;
  height: 362px;
  margin: 50px 20px 88px 29px;
}

.popup_text > .text_title {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;    
  width: fit-content;
  height: fit-content;
}

.text_subTitle {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}

.text_descr {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 40px 0;
}

.text_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.text_list > li {
  list-style: none;
  list-style-image: url(../../assets/icons/dot.svg);
  list-style-position: inside;
  align-items: center;
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
}

.text_list > li:last-child() {
  margin-bottom: 0;
}

.text_list > li > span {
  font-weight: 700;
}

.card {
  display: flex;
  background: #FAFAFA;
  border-radius: 9px;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-right: 90px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card:hover .card_link {
  cursor: pointer;
  background-color: #F1CDB3;
}

.card:last-child {
  margin-right: 53px;
}

.card:first-child {
  margin-left: 53px;
}

.card_img {
  border-radius: 9px 9px 0px 0px;
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}

.card_title {
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.card_title:hover {
  font-size: 23px;
}

.card_link {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.card_link > a {
  color: #292929;
}

.pets_container_button {
  padding: 15px 40px;
  width: 261px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  margin-bottom: 100px;
}

.pets_container_button:hover {
  cursor: pointer;
  opacity: 0.90;
}

.pets_container_button > a > span {
  font-family: 'Georgia', 'Tinos';
  text-align: center;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

/* ------------------------------end friends section------------------------------*/

/* ------------------------------start help section------------------------------*/

.help {
  height: fit-content;
  background: #FFFFFF;
}

.help_container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help_container > .block_title {
  width: 310px;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 95px;
  grid-row-gap: 55px;
  align-items: center;
  justify-items: center;
  margin-bottom: 100px;
}

.product {
  height: 113px;
  width: max-content;
  text-align: center;
  grid-column: span 2;
}

.product:nth-child(1) {
  margin-left: 87px;
}

.product:nth-child(2) {
  margin-left: 25px;
}

.product:nth-child(3) {
  margin-right: 35px;
}

.product:nth-child(4) {
  margin-left: -58px;
}

.product:nth-child(4) > .product_img {
  margin-bottom: 28px;
}

.product:nth-child(5) {
  margin-right: 86px;
}

.product:nth-child(6) {
  margin-right: 5px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.product:nth-child(6) > .product_img {
  margin-bottom: 30px;
}

.product:nth-child(7) {
  margin-left: -97px;
}

.product:nth-child(8) {
  margin-left: -84px;
}

.product:nth-child(8) > .product_img {
  margin-bottom: 32px;
}

.product:nth-child(9) {
  margin-left: -32px;
}

.product_img {
  margin-bottom: 25px;
}

.product_title {
  font-family: 'Georgia', 'Tinos';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* ------------------------------end help section------------------------------*/

/* ------------------------------start donation section------------------------------*/

.donation {
  height: fit-content;
  background: #F6F6F6;
}

.donation_container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.donation_dog {
  background: url(../../assets/images/donation-dog.png) no-repeat;
  width: 505px;
  height: 261px;
  margin-right: 30px;
  background-size: cover;
}

.text_container {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.text_container > .block_title {
  width: 300px;
  letter-spacing: 0.06em;
  text-align: start;
  margin-bottom: 20px;
}

.block_subTitle {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 17px;
}

.creditCard_content {
  width: 92%;
  background: #F1CDB3;
  border-radius: 9px;
  border: none;
  margin-bottom: 20px;
}

.creditCard_content:hover {
  cursor: pointer;
  opacity: 0.90;
}

.creditCard_content > a {
  display: flex;
  height: 43px;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.creditCard_img {
  background: url(../../assets/icons/credit-card.svg) no-repeat;
  width: 30px;
  height: 23px;
}

.creditCard_number {
  font-family: 'Georgia', 'Tinos';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.legal_information {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

/* ------------------------------end donation section------------------------------*/

/* ------------------------------start footer section------------------------------*/

.footer {
  background: url(../../assets/images/footer-gradient-background.png) no-repeat;
  background-size: cover;
}

.footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.footer_contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contacts, .locations {
  text-align: -webkit-left;
  padding-top: 16px;
  margin-right: 160px;
}

.contacts {
  width: 278px;
}

.contacts > .block_title {
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 40px;
  width: 280px;
}

.email {
  margin-bottom: 44px;
}

.email > a, .phone > a, .boston_address > a, .london_address > a {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.email_icon {
  background: url(../../assets/icons/mail.svg) no-repeat;
  width: 40px;
  height: 26px
}

.email_address, .phone_number, .address {
  font-family: 'Georgia', 'Tinos';
  width: fit-content;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 115%;
  color: #F1CDB3;
  margin-left: 20px;
}

.phone_icon {
  background: url(../../assets/icons/phone.svg) no-repeat;
  width: 40px;
  height: 32px;
}

.locations > .block_title {
  color: #FFFFFF;
  text-align: left;
  width: 270px;
  margin-bottom: 34px;
}

.pin_icon {
  background: url(../../assets/icons/pin.svg) no-repeat;
  width: 22px;
  height: 32px;
}

.boston_address, .london_address {
  width: 302px;
}

.boston_address {
  margin-bottom: 32px;
}

.footer_img {
  background: url(../../assets/images/footer-puppy.svg) no-repeat;
  width: 300px;
  height: 310px;
  background-size: cover;
}

/* ------------------------------end footer section------------------------------*/

/*------------------------------media queries------------------------------*/

@media (min-width: 768px) and (max-width: 1240px) {
  .header_wrapper {
    padding-top: 30px;
  }
  .about_container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .about_pets_img {
    margin-top: 80px;
    margin-right: 0;
  }
  .about_pets_text {
    margin-top: 0;
  }
  .about_pets_text > p:last-child {
    margin-bottom: 0px;
  }
  .slider {
    max-width: 93vw;
  }
  .popup_window {
    width: 682px;
    height: 402px;
  }
  .popup_content {
    width: 630px;
    height: 350px;
  }
  .popup_img {
    width: 350px;
    height: 350px;
  }
  .popup_text {
    width: 260px;
    height: 303px;
  }
  .text_descr {
    margin: 20px 0;
  }
  .text_list > li {
    margin-bottom: 5px;
  }
  .card {
    margin-right: 40px;
  }
  .card:first-child {
    margin-left: 12px;
  }
  
  .card:last-child() {
    margin-right: 12px;
  }
  .product_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    margin-bottom: 0;
  }

  .product {
    grid-column: span 1;
  }

  .product:nth-child(1) {
    margin-left: 0;
  }
  
  .product:nth-child(2) {
    margin-left: 0;
  }
  
  .product:nth-child(3) {
    margin-right: 0;
  }
  
  .product:nth-child(4) {
    margin-left: 0;
  }
  
  .product:nth-child(5) {
    margin-right: 0;
  }
  
  .product:nth-child(6) {
    margin-right: 0;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  
  .product:nth-child(7) {
    margin-left: 0;
  }
  
  .product:nth-child(8) {
    margin-left: 0;
  }
  
  .product:nth-child(9) {
    margin-left: 0;
  }
  .donation_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .donation_dog {
    margin-top: 57px;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1260px) {
  .screen_section {
    padding-top: 150px;
  }
  .screen_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text_content {
    padding: 0;
    width: fit-content;
  }
  .screen_button {
    margin-right: 127px;
    margin-left: 126px;
  }
  .image_content {
    margin-top: 100px;
    width: 569px;
    height: 593px;
    margin-left: 140px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    margin: 0 30px;
  }
  .help_container {
    padding-bottom: 100px;
  }
  .footer_wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .footer_contacts {
    padding: 0;
    width: 100%;
  }
  .contacts, .locations {
    margin-right: 0;
    padding: 0;
  }
  .footer_img {
    margin-top: 65px;
  }
}

@media (min-width: 375px) and (max-width: 767.9px) {
  
  .header_navigation.menu_open > .nav_list {
    margin-left: 55px !important;
    width: calc(100% - 55px) !important;
  }
  .header_logo.menu_open {
    margin-left: 55px;
  }
}

@media (min-width: 386px) and (max-width: 767.9px) {
  .header_navigation.menu_open > .nav_list {
    min-height: 800px !important;
  }
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .wrapper {
    margin: 0 10px;
  }
  .header_wrapper {
    padding: 0;
    margin-right: 43px;
    margin-top: 30px;
  }
  .burger_menu {
    display: inline-block;
    z-index: 999;
  }
  .nav_list {
    display: none;
    background-color: #292929;
  }
  .header_navigation > .nav_list {
    display: flex;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    float: none;
    width: 100%;
    z-index: 4;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 2s ease;
  }
  .header_navigation.menu_open > .nav_list {
    transform: translateX(0%);
    transition: transform 1.5s ease;
  }
  .header_navigation > .nav_list li {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .header_navigation > .nav_list > li > a {
    font-size: 32px;
  }

  .header_navigation.menu_open .burger_menu {
    position: absolute;
    top: 30px;
    right: 63px;
  }
  .header_navigation.menu_open .burger_menu > li {
    transform: rotate(-90deg);
  }

  .header_navigation.menu_open .burger_menu li:nth-child(1) {
    left: 10px;
    top: 12px;
  }
  .header_navigation.menu_open .burger_menu li:nth-child(2) {
    left: 20px;
  }
  .header_navigation.menu_open .burger_menu li:nth-child(3) {
    left: 30px;
    top: 12px;
  }

  .header_logo.menu_open {
    position: absolute;
  }
  .screen_section {
    padding-top: 150px;
  }
  
  .screen_content {
    justify-content: center;
  }
  .text_content {
    padding-top: 0px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .screen_heading {
    font-size: 25px;
    width: 260px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .screen_subheading {
    text-align: center;
    margin-top: 0;
  }
  .image_content {
    width: 260px;
    height: 271.77px;
    margin-left: 40px;
  }
  .about_container {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 42px 0;
  }
  .text_title {
    text-align: center;
    font-size: 25px;
    max-width: 70vw;
    margin: 0 auto;
  }
  .about_pets_text {
    margin-top: 0;
  }
  .about_pets_text > p {
    text-align: justify;
    max-width: 85vw;
    margin-top: 0;
    margin-bottom: 21px;
  }
  .about_pets_img {
    width: 260px;
    height: 353.6px;
    margin-right: 0;
    margin-top: 25px;
    align-self: center;
  }

  .pets_container {
    padding-top: 42px;
  }
  .pets_container_button {
    margin-bottom: 42px;
  }
  .pets_container > .block_title {
    width: 100%;
    font-size: 25px;
    margin-bottom: 42px;
  }
  .slider {
    min-height: 507px;
    margin-bottom: 42px;
    width: 93vw;
  }
  .left_arrow, .right_arrow {
    align-self: flex-end;
    position: relative;
    margin-top: 20px;
  }
  .left_arrow {
    margin-left: 56px;
    margin-right: 75px;
  }
  .card_wrapper {
    align-self: flex-start;
    position: absolute;
  }
  .popup_window {
    width: 270px;
    height: 393px;
  }
  .popup_content {
    width: 240px;
    min-height: 341px;
  }
  .popup_img {
    display: none;
  }
  .popup_text {
    width: 220px;
    min-height: 321px;
    margin: 10px;
  }
  .text_descr {
    margin: 20px 0;
  }
  .text_list > li {
    margin-bottom: 5px;
  }
  .card {
    margin: 0 15px;
  }
  .card:first-child {
    margin-left: 15px;
  }
  .help_container {
    padding: 42px 0;
  }
  
  .help_container > .block_title {
    margin-bottom: 42px;
    font-size: 25px;
    width: 80%;
  }

  .product_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 0;
  }
  .product {
    grid-column: span 1;
    height: 87px;
  }
  .product_img {
    height: 8vh;
    margin-bottom: 18px;
  }
  .product_img > img {
    block-size: inherit;
  }
  .product_title {
    font-size: 15px;
    line-height: 110%;
  }

  .product:nth-child(1) {
    margin-left: 0;
  }
  
  .product:nth-child(2) {
    margin-left: 0;
  }
  
  .product:nth-child(3) {
    margin-right: 0;
  }
  
  .product:nth-child(4) {
    margin-left: 0;
  }

  .product:nth-child(4) > .product_img, .product:nth-child(6) > .product_img,
  .product:nth-child(8) > .product_img {
    margin-bottom: 19px;
  }
  
  .product:nth-child(5) {
    margin-right: 0;
  }
  
  .product:nth-child(6) {
    margin-right: 0;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  
  .product:nth-child(7) {
    margin-left: 0;
  }
  
  .product:nth-child(8) {
    margin-left: 0;
  }
  
  .product:nth-child(9) {
    margin-left: 0;
  }
  .donation_container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 41px;
  }
  .creditCard_content {
    max-width: inherit;
  }
  .donation_dog {
    margin-top: 42px;
    margin-right: 0;
    width: 260px;
    height: 135.2px;
  }
  .text_container {
    width: 300px;
    align-items: center;
  }
  .text_container > .block_title {
    font-size: 25px;
    letter-spacing: 0.06em;
    width: 220px;
  }
  .text_container > .block_subTitle {
    line-height: 160%;
    letter-spacing: 0;
  }
  .creditCard_number {
    font-size: 15px;
    line-height: 110%;
  }
  .legal_information {
    text-align: justify;
    max-width: inherit;
    margin: 0 10px;
  }
  .text_container > .block_title, .text_container > .block_subTitle {
    text-align: center;
  }
  .footer_wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .footer_contacts {
    flex-direction: column;
    align-items: center;
  }
  
  .footer_img {
    margin-top: 0;
    height: 269px;
    width: 260px;
  }
  .contacts > .block_title, .locations > .block_title{
    text-align: center;
    font-size: 25px;
    line-height: 32.5px;
  }
  .locations > .block_title {
    margin-bottom: 40px;
  }
  .contacts {
    margin: 0;
    padding: 0;
  }
  .locations {
    margin: 40px 0;
    padding: 0;
  }
  .boston_address {
    margin-bottom: 40px;
  }
  .contacts, .locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}